/* You can add global styles to this file, and also import other style files */
$fa-font-path: "~font-awesome/fonts";
@import 'node_modules/bootstrap/scss/bootstrap';
@import "~font-awesome/scss/font-awesome";

body {
  padding-top: 100px;
  padding-bottom: 100px;
}